asgiref==3.2.10
bson==0.5.8
dataclasses==0.6
dj-static==0.0.6
Django==2.2.13
django-mysql==3.7.0
django-sass==1.0.0
libsass==0.20.0
# mysqlclient @ file:///S:/Projects%202.0/RotarApp/mysqlclient-1.4.6-cp38-cp38-win32.whl
psycopg2==2.8.5
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
sqlparse==0.2.4
static3==0.7.0