@media screen and (max-width: 1000px) {
  #loginSection1 #formText {
    width: 80%;
    margin-left: 2vw;
    margin-right: 2vw;
    color: #337ab7;
  }
  #loginSection1 {
    margin-top: 5vw;
    margin-top: 10vw;
    text-align: justify;
    text-justify: inter-word;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
  #loginSection1 input, button {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    height: 10vw;
    font-size: 3vw;
    color: #337ab7;
  }
  #loginImage1 {
    float: none;
    display: block;
    height: 18vw;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vw;
  }
  #loginButton1 {
    background-color: #337ab7;
    color: white;
    font-weight: bold;
    border: 2px solid #337ab7;
    border-radius: 4px;
    margin-top: 11vw;
    margin-bottom: 11vw;
    height: 11vw;
    box-shadow: 3px 3px 2px #555;
    font-size: 3vw;
  }
  #loginSection1 input[type=text], input[type=Password] {
    border: none;
    border-radius: 4px;
    color: #337ab7;
    background-color: #FFFFFF;
    font-weight: bold;
    padding-left: 1vw;
    padding-right: 1vw;
    box-shadow: 2px 2px 2px #555;
  }
  #loginSection1 input[type=text]:hover, input[type=text]:focus {
    border: 2px solid #337ab7;
    border-radius: 4px;
    outline: none;
    color: #337ab7;
    background-color: #FFFFFF;
    font-weight: bold;
    padding-left: 1vw;
    padding-right: 1vw;
    box-shadow: none;
  }
  #loginSection1 input[type=Password]:hover, input[type=Password]:focus {
    border: 2px solid #337ab7;
    border-radius: 4px;
    outline: none;
    color: #337ab7;
    background-color: #FFFFFF;
    font-weight: bold;
    padding-left: 1vw;
    padding-right: 1vw;
    box-shadow: none;
  }
  #loginSection1 ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #337ab7;
    opacity: 1;
    /* Firefox */
  }
  #loginSection1 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #337ab7;
  }
  #loginSection1 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #337ab7;
  }
}
