<div class="heading">
    <b>Club Membership Details</b>
</div>
<br>
<div class="container-fluid table-responsive">
    <div class="text-center mobile m-subHeading">
        Members' data
        <br><br>
    </div>
    <div id="membersData">

    </div>
    <button type="button" class="addRow" onclick="appendMember()">Add Row</button>
    <hr style="border-width: medium;border-color:#337ab7;border-radius : 4px;">
    <div class="text-center mobile m-subHeading">
        Member-Matrix
        <br>
        <p style="font-size:2.2vw;color:#337ab7">{ I : Intial Count, II : Added this month, III : Left, IV : Prospective, V : Guest, VI : Total }
        <br><br><br>
    </div>
    <div class="row m-memberMatrix">
        <div class="col-xs-2 col-lg-3" id="data00">
            
        </div>
        <div class="col-xs-2" id="data01">
            M
        </div>
        <div class="col-xs-2" id="data02">
            F
        </div>
        <div class="col-xs-2" id="data03">
            O
        </div>
        <div class="col-xs-2" id="data04">
            T
        </div>
    </div>
    <div class="row m-memberMatrix">
        <div class="col-xs-2 col-lg-3" id="data10">
            I.
        </div>
        <div class="col-xs-2">
            <input type="text" >
        </div>
        <div class="col-xs-2">
            <input type="text" >
        </div>
        <div class="col-xs-2">
            <input type="text" >
        </div>
        <div class="col-xs-2">
            <input type="text" >
        </div>
    </div>
    <div class="row m-memberMatrix">
        <div class="col-xs-2 col-lg-3" id="data20">
            II.
        </div>
        <div class="col-xs-2">
            <input type="text" >
        </div>
        <div class="col-xs-2">
            <input type="text" >
        </div>
        <div class="col-xs-2">
            <input type="text" >
        </div>
        <div class="col-xs-2">
            <input type="text" >
        </div>
    </div>
    <div class="row m-memberMatrix">
        <div class="col-xs-2 col-lg-3" id="data30">
            III.
        </div>
        <div class="col-xs-2">
            <input type="text" >
        </div>
        <div class="col-xs-2">
            <input type="text" >
        </div>
        <div class="col-xs-2">
            <input type="text" >
        </div>
        <div class="col-xs-2">
            <input type="text" >
        </div>
    </div>
    <div class="row m-memberMatrix">
        <div class="col-xs-2 col-lg-3" id="data40">
            IV.
        </div>
        <div class="col-xs-2">
            <input type="text" >
        </div>
        <div class="col-xs-2">
            <input type="text" >
        </div>
        <div class="col-xs-2">
            <input type="text" >
        </div>
        <div class="col-xs-2">
            <input type="text" >
        </div>
    </div>
    <div class="row m-memberMatrix">
        <div class="col-xs-2 col-lg-3" id="data50">
            V.
        </div>
        <div class="col-xs-2">
            <input type="text" >
        </div>
        <div class="col-xs-2">
            <input type="text" >
        </div>
        <div class="col-xs-2">
            <input type="text" >
        </div>
        <div class="col-xs-2">
            <input type="text" >
        </div>
    </div>
    <div class="row m-memberMatrix">
        <div class="col-xs-2 col-lg-3" id="data60">
            VI.
        </div>
        <div class="col-xs-2">
            <input type="text" >
        </div>
        <div class="col-xs-2">
            <input type="text" >
        </div>
        <div class="col-xs-2">
            <input type="text" >
        </div>
        <div class="col-xs-2">
            <input type="text" >
        </div>
    </div>
    <hr>
</div>
<br>
<div class="heading">
    <b>General Body Meeting</b>
</div>
<br>
<div class="container-fluid table-responsive">
    <div id="generalBodyMeetings">

    </div>
    <button type="button" class="addRow" onclick="appendGeneralBodyMeeting()">Add Row</button>
    <hr style="border-width: medium;border-color:#337ab7;border-radius : 4px;">
     
</div>
<br>
<div class="heading">
    <b>BOD Meeting</b>
</div>
<br>
<div class="container-fluid table-responsive">
    <div id="boardOfDirectorsMeetings">
        
    </div>
    <button type="button" class="addRow" onclick="appendBoardOfDirectorsMeeting()">Add Row</button>
    <hr style="border-width: medium;border-color:#337ab7;border-radius : 4px;">
</div>
