
{% extends "Main/base.html" %}

{% load static %}

{% block content %}
<style>
/*     
form {
  border: 3px solid #f1f1f1;
  padding: 20px 20px 50px 20px;

  margin: 100px;
  
}

/* Full-width inputs */
/* input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
} */

/* Set a style for all buttons */
/* button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 25px 0;
  border: none;
  cursor: pointer;
  width: 100%;
} */

/* Add a hover effect for buttons */
/* button:hover {
  opacity: 0.8;
} */


</style>

<div class="" id="loginSection1">
  
  <img id="loginImage1" src="{% static 'Main/images/Group 10@2x.png' %}" alt="Rotaract">
  <!-- <div id="formText">
    <h3 style="float:left"><b>Login</b></h3>
  </div> -->
  <input type="text" placeholder="Club name" name="clubname" required>
  <br>
  <input type="password" placeholder="Password" name="password" required>      
  <br>
  <button type="submit" id="loginButton1">Submit</button>
  
</div>
  
    <!-- <div class="container-fluid border" id="login-section"> -->
      <!-- <label for="uname"><b>Club Name</b></label>
      <input type="text" placeholder="Enter your club name" name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <button type="submit">Login</button> -->
    <!-- </div> -->

{% endblock content%}
