{% extends "Main/base.html" %}

{% load static %}

{% block content %}

<!-- Club Logo -->

<div id="reportSection0" class="text-center" style="text-align: justify;text-justify: inter-word;width:100%">
    <h4 id="reportText1"><b>Secretarial Reporting</b></h4>
    <img id="reportImage1" src="{% static 'Main/images/Landing Image.png' %}" alt="Rotaract">
    <h4 id="reportText2"><b>RAC Panvel Central - Zone 1</b></h4>
</div>

<br><br>

<!-- Form starts -->

<div id="reportForm">

    <time class="completedNode" datetime="10:03"></time>
    <section>
        <div class="formSection container-fluid completed" >
        
            <!-- Header  -->

            <div class="header row" style="width:100%">
                <b>Admin</b>
            </div>
            <br>
            <br>

            <!-- Details  -->

            <div class="table table-responsive">
                <div class="row">
                    <div class="col-lg-2" style="padding:0;">
                        <input placeholder="Zone1" style="margin-left:1vw;margin-right:1vw;width:80%"class="medium" type="text" disabled>
                    </div>   
                    <div class="col-lg-2" style="padding:0;">
                        <input placeholder="Rotary Id" style="margin-left:1vw;margin-right:1vw;width:80%"class="medium" type="text">
                    </div>
                    <div class="col-lg-2" style="padding:0;">
                        <input placeholder="Club Code" style="margin-left:1vw;margin-right:1vw;width:80%"class="medium" type="text">
                    </div>   
                    <div class="col-lg-6 col-sm-12 col-md-12" style="padding:0;float:right">
                        <div class="desktop"style="float:right">
                        <b style="margin-left:1.2vw;font-size:1.2vw">Reporting for the month of* :</b>
                        <input placeholder="Date" style="margin-left:1vw;"class="medium" type="date">
                        </div>
                    </div>
                </div>
            </div>

            
    
</div>


    
    
{% endblock content%}
