//Colors

$bgcolor: #F5F5F5;
$textcolor1:#779ECB;
$pinkcolor:#D41367;

//Padding

$padding-top: 3%;
$padding-right: 10%;
$padding-left: 10%;

//font-size

$m-extraSmall : 1vw;
$m-small : 3vw;
$m-medium : 5vw;
$m-extraMedium : 6vw;
$m-large : 8vw;
$m-extraLarge : 10vw;

$d-extraSmall : 0.5vw;
$d-small : 1vw;
$d-medium : 2.5vw;
$d-extraMedium : 3vw;
$d-large : 4vw;
$d-extraLarge: 5vw;

