@import 'Main/scss/globals';

@media screen and (max-width: 1000px) {

.desktop {
    display : none;
}

// Main wrapper container - Touch at your own risk

.container {
    width:85%;
    margin: 0 auto;
    padding-top: 5em;
    
}

// HomePage - Touch at your own risk

.homeText1 {
    font-size: $m-extraLarge;
    color: $pinkcolor;
}

.homeText2 {
    font-size: $m-medium;
    color: $textcolor1;
}

.homeImage1 {
    width: 70vw;
    height:70vw;
}

// Login page


#loginSection1 #formText {
    width:80%;
    margin-left:2vw;
    margin-right:2vw;
    color:$textcolor1;
}

#loginSection1 {
    margin-top:5vw;
    margin-top:10vw;
    text-align: justify;
    text-justify: inter-word;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
}

#loginSection1 input, button {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top:5vw;
    height:10vw;
    font-size: $m-small;
    color:$textcolor1;
}


#loginImage1 {
    
    float:none;
    display: block;
    height:18vw;
    width:auto;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5vw;
}

#loginButton1 {
    background-color: $textcolor1;
    color:white;
    font-weight: bold;
    border: 2px solid $textcolor1;
    border-radius: 4px;
    margin-top:11vw;
    margin-bottom:11vw;
    height : 11vw;
    box-shadow: 3px 3px 2px #555;
    font-size: $m-small;
}

#loginSection1 input[type=text], input[type=Password] {
    border: none;
    border-radius: 4px;
    color: $textcolor1;
    background-color: $bgcolor;
    font-weight: bold;
    padding-left:1vw;
    box-shadow: 2px 2px 2px #555;
}


#loginSection1 input[type=text]:hover, input[type=text]:focus{
    border: 2px solid $textcolor1;
    border-radius: 4px;
    outline: none;
    color: $textcolor1;
    background-color: $bgcolor;
    font-weight: bold;
    padding-left:1vw;
    box-shadow: none;
}

#loginSection1 input[type=Password]:hover, input[type=Password]:focus {
    border: 2px solid $textcolor1;
    border-radius: 4px;
    outline: none;
    color: $textcolor1;
    background-color: $bgcolor;
    font-weight: bold;
    padding-left:1vw;
    box-shadow: none;
}

#loginSection1 ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $textcolor1;
    opacity: 1; /* Firefox */
}
  
#loginSection1 :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:$textcolor1;
}
  
#loginSection1  ::-ms-input-placeholder { /* Microsoft Edge */
    color:$textcolor1;
}

}