@import 'Main/scss/globals';


//Heading Section

#reportHeadingSection {
    text-align: justify;
    text-justify: inter-word;
    width:100%;
}


@media screen and (min-width: 1000px) {

//Heading Section

#reportHeadingSection {
    text-align: justify;
    text-justify: inter-word;
    width:100%;
}

#reportHeading1 {
    color: $pinkcolor;
    font-size: $d-extraMedium;
}

#reportImage1 {
    height: auto;
    width: 15vw;
}

#reportHeading2 {
    color: $textcolor1;
    font-size: $d-medium;
}

//Form

#reportForm .heading {
    width: 100%;
    background-color: $textcolor1;
    border-radius: 4px;
    height: 3.5vw;
    border:solid $textcolor1;
    border: 2px solid $textcolor1;
    box-shadow: 3px 3px 2px #555;
    padding-left: 1vw;
    font-size:$d-medium;
    font-weight: bold;
    color: white;
    margin:0;
}

#reportForm .container-fluid, .row, .table-responsive {
    width: 100%;
    padding:0;
    margin:0;
}

.col-lg-3 {
    padding:1vw 1vw 1vw 1vw;
}
.col-lg-6 {
    padding:1vw 1vw 1vw 1vw;
}
.col-lg-2 {
    padding:1vw 1vw 1vw 1vw;
}
.col-lg-8 {
    padding:1vw 1vw 1vw 1vw;
}
.col-lg-4 {
    padding:1vw 1vw 1vw 1vw;
}

.col-lg-3 input,button {
    margin-top:1vw;
    margin-bottom:1vw;
    width:100%;
    height:5vw;
}
.col-lg-6 input,button {
    margin-top:1vw;
    margin-bottom:1vw;
    width:100%;
    height:5vw;
}
.col-lg-2 input,button {
    margin-top:1vw;
    margin-bottom:1vw;
    width:100%;
    height:5vw;
}
.col-lg-8 input,button {
    margin-top:1vw;
    margin-bottom:1vw;
    width:100%;
    height:5vw;
}
.col-lg-4 input,button {
    margin-top:1vw;
    margin-bottom:1vw;
    width:100%;
    height:5vw;
}

.col-lg-3 button {
    width:100%;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    border : solid $pinkcolor;
    background-color: $pinkcolor;
    box-shadow: 2px 2px 2px #555;
    margin:1vw 0vw 1vw 0vw;
}
.col-lg-6 button {
    width:100%;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    border : solid $pinkcolor;
    background-color: $pinkcolor;
    box-shadow: 2px 2px 2px #555;
    margin:1vw 0vw 1vw 0vw;
}
.col-lg-2 button {
    width:100%;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    border : solid $pinkcolor;
    background-color: $pinkcolor;
    box-shadow: 2px 2px 2px #555;
    margin:1vw 0vw 1vw 0vw;
}
.col-lg-8 button {
    width:100%;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    border : solid $pinkcolor;
    background-color: $pinkcolor;
    box-shadow: 2px 2px 2px #555;
    margin:1vw 0vw 1vw 0vw;
}
.col-lg-4 button {
    width:100%;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    border : solid $pinkcolor;
    background-color: $pinkcolor;
    box-shadow: 2px 2px 2px #555;
    margin:1vw 0vw 1vw 0vw;
}

.col-lg-3 select {
    margin-top:1vw;
    margin-bottom:1vw;
    height: 2.5vw;
    width:100%;
    border: 1px solid lightgrey;
    border-radius: 4px;
    color: $textcolor1;
    background-color: $bgcolor;
    padding-left:1vw;
    box-shadow: 2px 2px 2px #555;    
}
.col-lg-6 select {
    margin-top:1vw;
    margin-bottom:1vw;
    height: 2.5vw;
    width:100%;
    border: 1px solid lightgrey;
    border-radius: 4px;
    color: $textcolor1;
    background-color: $bgcolor;
    padding-left:1vw;
    box-shadow: 2px 2px 2px #555;    
}
.col-lg-2 select {
    margin-top:1vw;
    margin-bottom:1vw;
    height: 2.5vw;
    width:100%;
    border: 1px solid lightgrey;
    border-radius: 4px;
    color: $textcolor1;
    background-color: $bgcolor;
    padding-left:1vw;
    box-shadow: 2px 2px 2px #555;    
}
.col-lg-8 select {
    margin-top:1vw;
    margin-bottom:1vw;
    height: 2.5vw;
    width:100%;
    border: 1px solid lightgrey;
    border-radius: 4px;
    color: $textcolor1;
    background-color: $bgcolor;
    padding-left:1vw;
    box-shadow: 2px 2px 2px #555;    
}
.col-lg-4 select {
    margin-top:1vw;
    margin-bottom:1vw;
    height: 2.5vw;
    width:100%;
    border: 1px solid lightgrey;
    border-radius: 4px;
    color: $textcolor1;
    background-color: $bgcolor;
    padding-left:1vw;
    box-shadow: 2px 2px 2px #555;    
}

select:focus, select:after, select:hover {
    
    margin-top:1vw;
    margin-bottom:1vw;
    height: 2.5vw;
    width:100%;
    border: 2px solid $textcolor1;
    border-radius: 4px;
    color: $textcolor1;
    background-color: $bgcolor;
    padding-left:1vw;
    box-shadow: none;
}

.label {
    color : $textcolor1;
    font-size: $d-extraSmall;
    font-weight: bold;
    margin:0;
    padding:0;
}


.addRow {
    height: 2.5vw;
    width: 10vw;
    margin:1vw 0 1vw 0 ;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    border : solid $pinkcolor;
    background-color: $pinkcolor;
    box-shadow: 2px 2px 2px #555;

}

#reportForm input, button{
    height: 2.5vw;
    color: $textcolor1;   
    
}

input[type=text], input[type=date], input[type=password], textarea {
    height : 2.5vw;
    border: 1px solid lightgrey;
    border-radius: 4px;
    color: $textcolor1;
    background-color: $bgcolor;
    padding-left:1vw;
    box-shadow: 2px 2px 2px #555;
    
}

input[type=text]:hover, textarea:hover,input[type=text]:hover, input[type=date]:hover{
    border: 2px solid $textcolor1;
    border-radius: 4px;
    outline: none;
    color: $textcolor1;
    background-color: $bgcolor;
    padding-left:1vw;
    box-shadow: none;
}

input[type=text]:focus, textarea:focus, input[type=password]:focus, input[type=date]:focus {
    border: 2px solid $textcolor1;
    border-radius: 4px;
    outline: none !important;
    color: $textcolor1;
    background-color: $bgcolor;
    padding-left:1vw;
    box-shadow: none;
}

.col-xs-2 p{
    color : $textcolor1;
    font-size: $d-extraSmall;;
    font-weight: bold;
}

.m-memberMatrix input{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

textarea {
    height: 8vw;
    width: 100%;
}


}