@media screen and (min-width: 1000px) {
  .navigation {
    overflow: hidden;
    background-color: #FFFFFF;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: solid #f1f1f1;
    z-index: 999;
    opacity: 1;
    width: 100%;
  }
  .desktop {
    float: right;
  }
  .mobile {
    display: none;
  }
  .navigation a {
    float: left;
    right: 0;
    display: block;
    color: #337ab7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.3vw;
    height: 3em;
    font-weight: bold;
  }
  .navigation a:hover {
    color: black;
  }
  .navigation a.active {
    border-bottom: solid #D41367;
    border-bottom-width: 3px;
    font-weight: bolder;
  }
  .navigation .icon {
    display: none;
  }
  .sticky {
    position: static;
    top: 0;
    width: 100%;
  }
  #logo {
    height: 3.2em;
    width: auto;
    float: left;
  }
}
