@media screen and (min-width: 1000px) {
  .navigation {
    overflow: hidden;
    background-color: #F5F5F5;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    z-index: 999;
    opacity: 1;
    width: 10vw;
  }
  .navigation:after {
    content: '';
    left: 10%;
    right: 10%;
    height: 2px;
    top: 8vw;
    background: #969696;
    position: absolute;
  }
  .desktop {
    float: right;
  }
  .mobile {
    display: none;
  }
  .navigation a {
    float: left;
    right: 0;
    display: block;
    color: #337ab7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5vw;
  }
  .navigation a:hover {
    color: black;
  }
  .navigation a.active {
    border-bottom: solid #D41367;
    border-bottom-width: 4px;
    font-weight: bolder;
  }
  .navigation .icon {
    display: none;
  }
  .sticky {
    position: static;
    top: 0;
    width: 100%;
  }
  #logo {
    height: 4em;
    width: auto;
    float: left;
  }
}
