@media screen and (max-width: 1000px) {
  #tabs {
    overflow: hidden;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0vw;
    z-index: 999;
    background-color: #F5F5F5;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  #tabs .row {
    height: 10vw;
    line-height: 10vw;
  }
  .tablinks {
    color: #D41367;
    font-size: 3vw;
  }
  .tablinks.active {
    font-weight: bolder;
    font-size: 5vw;
  }
  .tabcontent {
    display: none;
    padding-left: 5%;
    padding-right: 5%;
  }
  .tabcontent.active {
    display: block;
  }
  #reportHeading1 {
    color: #D41367;
    font-size: 5vw;
  }
  #reportImage1 {
    height: auto;
    width: 30vw;
  }
  #reportHeading2 {
    color: #337ab7;
    font-size: 4vw;
  }
  #reportForm .heading {
    width: 100%;
    background-color: #337ab7;
    border-radius: 4px;
    height: 9vw;
    line-height: 9vw;
    border: solid black;
    border: 2px solid #337ab7;
    box-shadow: 3px 3px 2px #555;
    padding-left: 1vw;
    font-size: 3vw;
    font-weight: bold;
    color: white;
    margin: 0;
  }
  #reportForm .container-fluid {
    padding: 8vw;
  }
  .container-fluid {
    border: 2px solid #337ab7;
    border-radius: 10px;
    outline: none;
    color: #337ab7;
  }
  .m-subHeading {
    color: #D41367;
    font-weight: bold;
    font-size: 4vw;
  }
  .col-lg-3 input, button {
    margin-top: 5vw;
    margin-bottom: 5vw;
    width: 100%;
    height: 7vw;
  }
  .col-lg-3 button {
    width: 100%;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    border: solid #D41367;
    background-color: #D41367;
    box-shadow: 2px 2px 2px #555;
    margin: 1vw 0vw 1vw 0vw;
  }
  .col-lg-3 select {
    margin-top: 5vw;
    margin-bottom: 5vw;
    height: 7vw;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 4px;
    color: #337ab7;
    background-color: #F5F5F5;
    padding-left: 1vw;
    padding-right: 1vw;
    box-shadow: 2px 2px 2px #555;
  }
  .col-lg-5 input, button {
    margin-top: 5vw;
    margin-bottom: 5vw;
    width: 100%;
    height: 7vw;
  }
  .col-lg-5 button {
    width: 100%;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    border: solid #D41367;
    background-color: #D41367;
    box-shadow: 2px 2px 2px #555;
    margin: 1vw 0vw 1vw 0vw;
  }
  .col-lg-5 select {
    margin-top: 5vw;
    margin-bottom: 5vw;
    height: 7vw;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 4px;
    color: #337ab7;
    background-color: #F5F5F5;
    padding-left: 1vw;
    padding-right: 1vw;
    box-shadow: 2px 2px 2px #555;
  }
  .col-lg-6 input, button {
    margin-top: 5vw;
    margin-bottom: 5vw;
    width: 100%;
    height: 7vw;
  }
  .col-lg-6 button {
    width: 100%;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    border: solid #D41367;
    background-color: #D41367;
    box-shadow: 2px 2px 2px #555;
    margin: 1vw 0vw 1vw 0vw;
  }
  .col-lg-6 select {
    margin-top: 5vw;
    margin-bottom: 5vw;
    height: 7vw;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 4px;
    color: #337ab7;
    background-color: #F5F5F5;
    padding-left: 1vw;
    padding-right: 1vw;
    box-shadow: 2px 2px 2px #555;
  }
  .col-lg-2 input, button {
    margin-top: 5vw;
    margin-bottom: 5vw;
    width: 100%;
    height: 7vw;
  }
  .col-lg-2 button {
    width: 100%;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    border: solid #D41367;
    background-color: #D41367;
    box-shadow: 2px 2px 2px #555;
    margin: 1vw 0vw 1vw 0vw;
  }
  .col-lg-2 select {
    margin-top: 5vw;
    margin-bottom: 5vw;
    height: 7vw;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 4px;
    color: #337ab7;
    background-color: #F5F5F5;
    padding-left: 1vw;
    padding-right: 1vw;
    box-shadow: 2px 2px 2px #555;
  }
  .col-lg-8 input, button {
    margin-top: 5vw;
    margin-bottom: 5vw;
    width: 100%;
    height: 7vw;
  }
  .col-lg-8 button {
    width: 100%;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    border: solid #D41367;
    background-color: #D41367;
    box-shadow: 2px 2px 2px #555;
    margin: 1vw 0vw 1vw 0vw;
  }
  .col-lg-8 select {
    margin-top: 5vw;
    margin-bottom: 5vw;
    height: 7vw;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 4px;
    color: #337ab7;
    background-color: #F5F5F5;
    padding-left: 1vw;
    padding-right: 1vw;
    box-shadow: 2px 2px 2px #555;
  }
  .col-lg-4 input, button {
    margin-top: 5vw;
    margin-bottom: 5vw;
    width: 100%;
    height: 7vw;
  }
  .col-lg-4 button {
    width: 100%;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    border: solid #D41367;
    background-color: #D41367;
    box-shadow: 2px 2px 2px #555;
    margin: 1vw 0vw 1vw 0vw;
  }
  .col-lg-4 select {
    margin-top: 5vw;
    margin-bottom: 5vw;
    height: 7vw;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 4px;
    color: #337ab7;
    background-color: #F5F5F5;
    padding-left: 1vw;
    padding-right: 1vw;
    box-shadow: 2px 2px 2px #555;
  }
  .m-memberMatrix {
    padding-left: 5vw;
    height: 7vw;
    line-height: 7vw;
    margin-top: 3vw;
  }
  .label {
    color: #337ab7;
    font-size: 3vw;
    font-weight: bold;
    margin-top: 10vw;
    margin-bottom: 10vw;
    padding: 0;
  }
  hr {
    width: 90%;
    margin: 10vw auto 10vw auto;
  }
  select:focus, select:after, select:hover {
    margin-top: 1vw;
    margin-bottom: 1vw;
    height: 7vw;
    width: 100%;
    border: 2px solid #337ab7;
    border-radius: 4px;
    color: #337ab7;
    background-color: #F5F5F5;
    padding-left: 1vw;
    padding-right: 1vw;
    box-shadow: none;
  }
  input[type=text], textarea, input[type=date], input[type=password] {
    height: 7vw;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 4px;
    color: #337ab7;
    background-color: #F5F5F5;
    padding-left: 3vw;
    padding-right: 1vw;
    box-shadow: 2px 2px 2px #555;
  }
  input[type=text]:hover, textarea:hover, input[type=text]:hover, input[type=date]:hover {
    border: 2px solid #337ab7;
    border-radius: 4px;
    outline: none;
    color: #337ab7;
    background-color: #F5F5F5;
    padding-left: 3vw;
    padding-right: 1vw;
    box-shadow: none;
  }
  input[type=text]:focus, textarea:focus, input[type=password]:focus, input[type=date]:focus {
    border: 2px solid #337ab7;
    border-radius: 4px;
    outline: none !important;
    color: #337ab7;
    background-color: #F5F5F5;
    padding-left: 3vw;
    padding-right: 1vw;
    box-shadow: none;
  }
  .addRow {
    height: 7vw;
    width: 100%;
    margin: 1vw 0 1vw 0;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    border: solid #D41367;
    background-color: #D41367;
    box-shadow: 2px 2px 2px #555;
  }
  #member1Del:disabled, #gbm1Del:disabled, #bod1Del:disabled, #futureEvent1Del:disabled, #event1Del:disabled {
    display: none;
  }
  .m-memberMatrix input[type=text]:focus, .m-memberMatrix input[type=text]:hover, .m-memberMatrix input[type=text], .m-memberMatrix input {
    font-size: 3vw;
    padding-left: 2vw;
    font-weight: bold;
    width: 6vw;
  }
  textarea {
    width: 100%;
    height: 20vw;
  }
  #reportButton11, #reportButton12, #reportButton13, #reportButton21, #reportButton22, #reportButton23, #reportButton31, #reportButton32, #reportButton33 {
    background-color: #337ab7;
    color: white;
    font-weight: bold;
    border: 2px solid #337ab7;
    border-radius: 4px;
    height: 11vw;
    width: 100%;
    box-shadow: 3px 3px 2px #555;
    font-size: 3vw;
  }
  #reportButtons {
    padding: 0;
    margin: 0;
    width: 100%;
    padding-bottom: 20vw;
  }
  #reportButton11:disabled, #reportButton12:disabled, #reportButton13:disabled, #reportButton21:disabled, #reportButton22:disabled, #reportButton23#reportButton31:disabled:disabled, #reportButton32:disabled, #reportButton33:disabled {
    background-color: #555;
    border: 2px solid #555;
  }
  #reportButton11:focus, #reportButton12:focus, #reportButton13:focus, #reportButton21:focus, #reportButton22:focus, #reportButton23#reportButton31:focus:focus, #reportButton32:focus, #reportButton33:focus {
    outline: none;
  }
  button:focus {
    outline: none;
  }
}
